@import url('https://fonts.googleapis.com/css2?family=Italiana&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Italiana&family=Shippori+Mincho&display=swap');
body {
    font-family: "Shippori Mincho", serif;
    /* font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif; */
    /* font-family:'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif; */
    background-color: rgb(255, 242, 248);
    max-width: 1600px;
    color: #2b2a2a;
    display: grid;
    grid-template-columns: 1fr 2fr;
    /* justify-content: center; */
    /* flex-direction: column; */
    margin-left: 15%;
    margin-right: 15%;
}

header {
    grid-column: 1/span 2;
    border-bottom: 1px solid rgb(173, 172, 172);
    color: rgb(28, 44, 34);
    font-size: 20px;

    height: 100px;
}

h1 {
    text-align: center;
   
}

main {
    grid-column: 1/3;
    display: flex;
    justify-content: center;
    flex-direction: column;

}

.welcome {
    border-bottom: 1px solid rgb(173, 172, 172);
}

.intro {
    display: flex;
    flex-direction: row;
    margin: 30px;
    gap: 50px;
    padding-bottom: 30px;
    border-bottom: 1px solid rgb(173, 172, 172);

}


.fritter {
    display: flex;
    flex-direction: column;
    /* font-family: "Italiana", sans-serif; */
    justify-content: center;
    align-items: center;
    margin-right: 20px;
    /* font-weight:600; */
    font-size: 20px;
    line-height: 1.6;
}

.fritter h2 {
    padding-bottom: 15px;
    border-bottom: 1px solid rgb(210, 208, 208);
}

.fritter p {
    font-size: 20px;
    margin-left: 100px;
    margin-right: 100px;
    text-align: center;

}

.intro a {
    text-decoration: 0;

}

img {
    width: 300px;
    height: auto;
    box-shadow: 3px 3px 3px 3px rgb(173, 172, 172,0.4);
    border-radius: 20%;
    cursor: pointer;
}

/* .products {
    display: grid;
    justify-content: center;
    align-items: center;
    font-size: 30px;
} */

.wave {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    font-size: 30px;
    margin: 30px;
}

.wave:hover span{
    animation: bounce 1s ease-in-out;
    animation-delay: calc(0.1s * var(--i));
}

.wave span:nth-child(1) { --i: 0; }
.wave span:nth-child(2) { --i: 1; }
.wave span:nth-child(3) { --i: 2; }
.wave span:nth-child(4) { --i: 3; }
.wave span:nth-child(5) { --i: 4; }
.wave span:nth-child(6) { --i: 5; }
.wave span:nth-child(7) { --i: 6; }
.wave span:nth-child(8) { --i: 7; }
.wave span:nth-child(9) { --i: 8; }
.wave span:nth-child(10) { --i: 9; }
.wave span:nth-child(11) { --i: 10; }
.wave span:nth-child(12) { --i: 11; }
.wave span:nth-child(13) { --i: 12; }

@keyframes bounce {
    0%, 100% {
        transform: translateY(0);
    }
    50% {
        transform: translateY(-20px);
    }
}



.emailForm {
    border: 1px solid #073623;
    width: 600px;
    height: 70px;
    background-color: #3c7c68;
    margin-left: 23%; 
    padding-bottom: 12px;
    border-radius: 12px;
    margin-top: 30px;
    padding-top: 15px;

}



form label {
    padding-left: 150px;
    color: rgb(248, 238, 238);
}

form input {
    margin-left: 150px;
    margin-top: 15px;
    margin-bottom: 30px;
    border-radius: 4px;
    padding: 4px;
    border: 1px solid #1c5740;
}

form button {
    border-radius: 4px;
    padding: 4px;
    padding-right: 20px;
    padding-left: 15px;
    border: 2px solid #1c5740;
    background-color: pink;
    color: #0c0c0c;
    justify-content: center;
}

ul {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    list-style-type: none;
    padding: 0;
}

li {
    font-family: "Italiana", sans-serif;
    font-weight: 600;
    width: 200px;
    align-items: center;
    justify-self: center;
    text-align: center;
    background-color: pink;
    margin: 3px;
    border-radius: 8px;
    margin-bottom: 10px;
    font-size: 20px;
    box-shadow: 1px 1px 1px 1px rgba(190, 174, 174, 0.2);
    cursor: pointer;
    transition: background-color ease 0.3s;
    transition: transform ease 0.1s;
    transform: scale(1);
    padding: 3px;
    padding-bottom: 5px;
}

li:hover {
    background-color: rgb(234, 159, 172);
    transform: scale(1.1);
    box-shadow: 2px 2px 2px 2px rgba(172, 154, 154, 0.2);

}

footer {
    margin: 30px;
    margin-left: 50%;
    width: 900px;
    justify-content: center;
    align-items: center;
}

@media screen and (max-width: 1200px) {
    body {
        margin-left: 29%;
        margin-right: 0%;
    }
}

@media screen and (max-width: 900px) {
    body {
        width: 90%;
        margin-left: 30%;
        margin-right: 0%;
    }
    .welcome {
        font-size: larger;
    }
}

@media screen and (max-width: 600px) {
    body {
        margin-left: 40%;
        margin-right: 0%;
    }
    .intro {
        display: flex;
        flex-direction: column-reverse;
    }
    .intro a {
        margin-left: 30%;
    }
    .welcome {
        font-size: xx-large;
    }
    .appleProducts ul{
        display: flex;
        flex-direction: column;
    }
    .appleProducts li {
        font-size: xx-large;
        width: 100%;
        padding: 10px;
    }
    .emailForm {
        margin-left: 19%;
    }
    footer {
        margin-left: 45%;
    }
}