

body {
    height: 100vh;
}

header {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    grid-row: span 1;
    margin: 10px;
}

.dropDown {
    position: relative;
    display: inline-block;
}

.menu {
    cursor: pointer;
    position: initial;
    width: 100px;
    padding: 0;
    
}

.dropdownContent {
    /* display: none; */
    width: 100px;
    margin: 10px;
    height: 0;
    opacity: 0;
    overflow: hidden;
    padding: 15px;
    background-color: rgb(192, 192, 238);
    transition: height 0.5s ease, opacity 0.5s ease;

}

.dropdownContent a {
    text-decoration: none;
    color: black;
    cursor: pointer;
    padding-bottom: 10px;
    text-decoration: underline;

}

.dropdownContent.visible {
    /* display: block; */
    height: 100px;
    opacity: 1;
    display: flex;
    flex-direction: column;
}

.circle {
    animation: bounce 2s infinite alternate;
    /* transform: scale(1); */
    /* transition: transform 0.3s ease; */
    /* will-change: transform; */
}

/* I can't figure out how to make the circle get bigger when it is hovered over */

.circle:hover {
    /* transform: scale(1.5); */
    animation-play-state: paused;
}

@keyframes bounce {
    0%, 100% {
        transform: translateY(60px) scale(1);
    }
    50% {
        transform: translateY(-20px) scale(1);
    }
}

.btn-container {
    display: flex;
    justify-self: center;
    align-content: stretch;
    margin-top: 30vh;
}

.resetbtn {
    /* width: 100px; */
    padding: 100px;
    background-color: aliceblue;
}